
<div class="container-fluid header-img">

</div>

<div class="container-fluid text-center prof-main-content">
  <div class="row">
    <div class="col-4 prof-main-col">
        <div class="shadow card prof-card" style="width: 28rem;margin-left:auto;">
  <div class="card-body prof-details">
      <div class="row">
          <div class="col-4">
              <img class="prof-img-cir" src="images/comp-logo.png" />
          </div>
          <div class="col-8">
              <div class="details">
                  <p class="name">NEOTROJANPH</p>
                  <p class="work">Software Engineer</p>
                  <p class="location"><img src="images/loc.png" \>Manila, Philippines</p>
                  <p class="status"><img src="images/os.png" \>Open for work</p>
              </div>
          </div>
      </div>
  </div>

  <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, 0.12);text-align:left;">
      <div class="row">
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">4.9</p>
                  <p class="tile">Rating</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25k</p>
                  <p class="tile">Followers</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25</p>
                  <p class="tile">Projects</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">$2.5k</p>
                  <p class="tile">Starting</p>
              </div>
          </div>
      </div>

      <div class="row prof-btn-cont">
          <div class="col">
            <a href="mailto:neotrojanph@gmail.com" class="btn btn-dark">Hire Now</a>
          </div>
          <div class="col">
              <a href="#" class="btn btn-outline-dark">Recent Work</a>
          </div>
          <div class="col">

          </div>
      </div>
  </div>

  <div class="card-body about">
      <div class="row">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">Software Engineer with 8+ years of experience in designing and developing user interfaces, testing debugging and training staff. Proven ability in optimizing Php functionalities that improve data retrieval and workflow efficiences.
          </p>
      </div>
  </div>

  <div class="card-body about" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
      <div class="row">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text"><img src="images/tel-min.png" /> +639222557348</p>
          <p class="card-text"><img src="images/em.png" /> neotrojanph@gmail.com</p>
          <p class="card-text"><img src="images/fb.png" width="15" height="15"/></p>
      </div>
  </div>
  <p>&nbsp;</p>

</div>
    </div>

    <div class="col-8 prof-main-col">

      <div class="nav-link-right-side border-bottom">
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" data="projects" onclick="loadPage(this)" href="#">Our Projects</a>

            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" data="plugins" onclick="loadPage(this)" href="#">Wordpress Plugins</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Incoming</a>
                </li>
                <li class="nav-item">
                  <u><a class="nav-link disabled" href="#">Advance Bank Transfer</a></u>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data="license" onclick="loadPage(this)" href="#">Licenses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data="_advance-bank-transfer-demo" indexs="0" onclick="loadPage(this)" href="#">Live Demo</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div style="padding:20px;">
        <div class="row row-cols-1 row-cols-md-3 g-4 myowngrid">


                <div class="card" style="width: 80%;margin-left: auto;margin-right: auto;">
                  <video width="100%" height="500" controls="">
                    <source src="videos/demo_abts.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <div class="card-body">
                    <h5 class="card-title">Advance Bank Transfer</h5>
                    <p class="card-text">Make payment offline in your woocommerce store</p>
                  </div>
                </div>

        </div>
      </div>

    </div>
  </div>
</div>

