


<div class="container-fluid header-img">

</div>

<div class="container-fluid text-center prof-main-content">
  <div class="row">
    <div class="col-4 prof-main-col" style="width:633px;">
        <div class="shadow card prof-card" style="width: 28rem;margin-left:auto;">
  <div class="card-body prof-details">
      <div class="row">
          <div class="col-4">
              <img class="prof-img-cir" src="http://localhost/static-prof/neotrojan/images/comp-logo.png" />
          </div>
          <div class="col-8">
              <div class="details">
                  <p class="name">NEOTROJAN</p>
                  <p class="work">Php developers</p>
                  <p class="location"><img src="http://localhost/static-prof/neotrojan/images/loc.png" \>Manila, Philippines</p>
                  <p class="status"><img src="http://localhost/static-prof/neotrojan/images/os.png" \>Open for work</p>
              </div>
          </div>
      </div>
  </div>

  <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, 0.12);text-align:left;">
      <div class="row">
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">4.9</p>
                  <p class="tile">Rating</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25k</p>
                  <p class="tile">Followers</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">24</p>
                  <p class="tile">Projects</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">$2.5k</p>
                  <p class="tile">Starting</p>
              </div>
          </div>
      </div>

      <div class="row prof-btn-cont">
          <div class="col">
              <a href="#" class="btn btn-dark">Hire Now</a>
          </div>
          <div class="col">
              <a href="#" class="btn btn-outline-dark">Recent Work</a>
          </div>
          <div class="col">

          </div>
      </div>
  </div>

  <div class="card-body about">
      <div class="row">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">Php Developers with 8+ years of experience in designing and developing user interfaces, testing debugging and training staff. Proven ability in optimizing Php functionalities that improve data retrieval and workflow efficiences.
          </p>
      </div>
  </div>

  <div class="card-body about" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
      <div class="row">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text"><img src="http://localhost/static-prof/neotrojan/images/tel-min.png" /> +639956716838</p>
          <p class="card-text"><img src="http://localhost/static-prof/neotrojan/images/em.png" /> neotrojan@gmail.com</p>
          <p class="card-text"><img src="http://localhost/static-prof/neotrojan/images/fb.png" width="15" height="15"/></p>
      </div>
  </div>
  <p>&nbsp;</p>

</div>
    </div>

    <div class="col-8 prof-main-col">
      <div class="nav-link-right-side border-bottom">
        <span>About Us</span>
      </div>

      <div style="padding:20px;">
            About us Descrition here
      </div>


    </div>
  </div>
</div>





