
<div class="container-fluid header-img">

</div>

<div class="container-fluid text-center prof-main-content">
  <div class="row">
    <div class="col-4 prof-main-col">
        <div class="shadow card prof-card" style="width: 28rem;margin-left:auto;">
  <div class="card-body prof-details">
      <div class="row">
          <div class="col-4">
              <img class="prof-img-cir" src="images/comp-logo.png" />
          </div>
          <div class="col-8">
              <div class="details">
                  <p class="name">NEOTROJANPH</p>
                  <p class="work">Software Engineer</p>
                  <p class="location"><img src="images/loc.png" \>Manila, Philippines</p>
                  <p class="status"><img src="images/os.png" \>Open for work</p>
              </div>
          </div>
      </div>
  </div>

  <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, 0.12);text-align:left;">
      <div class="row">
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">4.9</p>
                  <p class="tile">Rating</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25k</p>
                  <p class="tile">Followers</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25</p>
                  <p class="tile">Projects</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">$2.5k</p>
                  <p class="tile">Starting</p>
              </div>
          </div>
      </div>

      <div class="row prof-btn-cont">
          <div class="col">
            <a href="mailto:neotrojanph@gmail.com" class="btn btn-dark">Hire Now</a>
          </div>
          <div class="col">
              <a href="#" class="btn btn-outline-dark">Recent Work</a>
          </div>
          <div class="col">

          </div>
      </div>
  </div>

  <div class="card-body about">
      <div class="row">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">Software Engineer with 8+ years of experience in designing and developing user interfaces, testing debugging and training staff. Proven ability in optimizing Php functionalities that improve data retrieval and workflow efficiences.
          </p>
      </div>
  </div>

  <div class="card-body about" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
      <div class="row">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text"><img src="images/tel-min.png" /> +639222557348</p>
          <p class="card-text"><img src="images/em.png" /> neotrojanph@gmail.com</p>
          <p class="card-text"><img src="images/fb.png" width="15" height="15"/></p>
      </div>
  </div>
  <p>&nbsp;</p>

</div>
    </div>

    <div class="col-8 prof-main-col">

      <div class="nav-link-right-side border-bottom">
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" data="projects" onclick="loadPage(this)" href="#">Our Projects</a>

            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" data="plugins" onclick="loadPage(this)" href="#">Wordpress Plugins</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Incoming</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data="license" onclick="loadPage(this)" href="#">Licenses</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div style="padding:20px;">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 shadow">
              <p>Copyright 2022 @license MIT</p>

              <p>
              Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the Advance Bank Transfer), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
              </p>

              <p>
              The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
              </p>

              <p>
              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
              </p>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

    </div>
  </div>
</div>

