
<div class="container-fluid header-img">

</div>

<div class="container-fluid text-center prof-main-content">
  <div class="row">
    <div class="col-4 prof-main-col">
        <div class="shadow card prof-card" style="width: 28rem;margin-left:auto;">
  <div class="card-body prof-details">
      <div class="row">
          <div class="col-4">
              <img class="prof-img-cir" src="images/comp-logo.png" />
          </div>
          <div class="col-8">
              <div class="details">
                  <p class="name">NEOTROJANPH</p>
                  <p class="work">Software Engineer</p>
                  <p class="location"><img src="images/loc.png" \>Manila, Philippines</p>
                  <p class="status"><img src="images/os.png" \>Open for work</p>
              </div>
          </div>
      </div>
  </div>

  <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, 0.12);text-align:left;">
      <div class="row">
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">4.9</p>
                  <p class="tile">Rating</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25k</p>
                  <p class="tile">Followers</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25</p>
                  <p class="tile">Projects</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">$2.5k</p>
                  <p class="tile">Starting</p>
              </div>
          </div>
      </div>

      <div class="row prof-btn-cont">
          <div class="col">
            <a href="mailto:neotrojanph@gmail.com" class="btn btn-dark">Hire Now</a>
          </div>
          <div class="col">
              <a href="#" class="btn btn-outline-dark">Recent Work</a>
          </div>
          <div class="col">

          </div>
      </div>
  </div>

  <div class="card-body about">
      <div class="row">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">Software Engineer with 8+ years of experience in designing and developing user interfaces, testing debugging and training staff. Proven ability in optimizing Php functionalities that improve data retrieval and workflow efficiences.
          </p>
      </div>
  </div>

  <div class="card-body about" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
      <div class="row">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text"><img src="images/tel-min.png" /> +639222557348</p>
          <p class="card-text"><img src="images/em.png" /> neotrojanph@gmail.com</p>
          <p class="card-text"><img src="images/fb.png" width="15" height="15"/></p>
      </div>
  </div>
  <p>&nbsp;</p>

</div>
    </div>

    <div class="col-8 prof-main-col">

        <div class="nav-link-right-side border-bottom">
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" data="projects" onclick="loadPage(this)" href="#">Our Projects</a>

                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" data="plugins" onclick="loadPage(this)" href="#">Wordpress Plugins</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Incoming</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data="license" onclick="loadPage(this)" href="#">Licenses</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>

      <div style="padding:20px;">
        <div class="row row-cols-1 row-cols-md-3 g-4 myowngrid">

            <div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/gsl1-min.png" class="card-img-top" alt="GSL"/>
                            <div class="card-body">
                                <h5 class="card-title">GSL</h5>
                                <p class="card-text">Is an cashier system use in a clinic</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/condoi-min.png" class="card-img-top" alt="MCS">
                            <div class="card-body">
                                <h5 class="card-title">Makati Condo System</h5>
                                <p class="card-text">description here</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="KP">
                            <div class="card-body">
                                <h5 class="card-title">Kiosk Photobooth</h5>
                                <p class="card-text">description here</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="KVC">
                            <div class="card-body">
                                <h5 class="card-title">Kiosk Video Creator</h5>
                                <p class="card-text">description here</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="KGC">
                            <div class="card-body">
                                <h5 class="card-title">Kiosk GIF Creator</h5>
                                <p class="card-text">description here</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/toddlerhood-min.png" class="card-img-top" alt="KRD">
                            <div class="card-body">
                                <h5 class="card-title">Kiosk Recipe Dispenser</h5>
                                <p class="card-text">description here</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/games-min.png" class="card-img-top" alt="Games">
                            <div class="card-body">
                                <h5 class="card-title">Games (Question and Answer)</h5>
                                <p class="card-text">description here</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/canada.png" class="card-img-top" alt="CG">
                            <div class="card-body">
                                <h5 class="card-title">Canada Goose</h5>
                                <p class="card-text">Is an e-Commerce website selling extreme weather outerwear, high quality jackets, parkas and accessories designed for women, men and kids.</p>

                            </div>
                            <div class="card-body">
                                    <a href="https://www.canadagoose.com/ca/en/home-page" target="_blank" class="card-link link-dark">Click Here</a>
                                </div>
                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/ea.png" class="card-img-top" alt="EA">
                            <div class="card-body">
                                <h5 class="card-title">Elizabeth Arden</h5>
                                <p class="card-text">Is an e-Commerce website selling cosmetics, makeup, skincare,perfume & gift sets</p>

                            </div>
                            <div class="card-body">
                                    <a href="https://www.elizabetharden.com/" target="_blank" class="card-link link-dark">Click Here</a>
                                </div>
                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/skii-min.png" class="card-img-top" alt="skii">
                            <div class="card-body">
                                <h5 class="card-title">SK-II</h5>
                                <p class="card-text">Is an e-Commerce website selling facial treatment products</p>

                            </div>
                            <div class="card-body">
                                    <a href="https://www.sk-ii.com/" target="_blank" class="card-link link-dark">Click Here</a>
                                </div>
                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/ccz.png" class="card-img-top" alt="erp">
                            <div class="card-body">
                                <h5 class="card-title">ERP System Web Based. ccellzone.net</h5>
                                <p class="card-text">Is an ERP System created from scratch.Created base from the user needs of the company. CCELLZONE is a one-stop cellphone shop offering prepaid services, mobile accessories, spare parts supplies and the coolest and latest gadgets in town.</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="twb">
                            <div class="card-body">
                                <h5 class="card-title">Tracker Web - Based</h5>
                                <p class="card-text">Is used for tracking the employee of the company</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="taa">
                            <div class="card-body">
                                <h5 class="card-title">Tracker Android App</h5>
                                <p class="card-text">Is used for tracking the employee of the company</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="DTR">
                            <div class="card-body">
                                <h5 class="card-title">DTR Web - Based</h5>
                                <p class="card-text">Is used for sending of time-in/time-out data from the store to the main office</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="CIS">
                            <div class="card-body">
                                <h5 class="card-title">CIS Information System - web based</h5>
                                <p class="card-text">Manage The data of people in the unicipality of Nueva Ecija</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/net.jpg" class="card-img-top" alt="CTPROFITSHARING">
                            <div class="card-body">
                                <h5 class="card-title">CTPROFITSHARING</h5>
                                <p class="card-text">Is a web base networking system</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/eco.jpg" class="card-img-top" alt="ECO">
                            <div class="card-body">
                                <h5 class="card-title">CMS Wordpress - ECO</h5>
                                <p class="card-text">Misibis Land, Inc. (MLI) is the developer of a 20-hectare prime commercial and residential property in Cagraray Island, Bacacay, Albay.</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/pbs.jpg" class="card-img-top" alt="PBSPH">
                            <div class="card-body">
                                <h5 class="card-title">PBSPH</h5>
                                <p class="card-text">A website of a company using cms wordpress</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/sor.png" class="card-img-top" alt="psorphil">
                            <div class="card-body">
                                <h5 class="card-title">Psorphil Website</h5>
                                <p class="card-text">A website for registration and will create id that you can print</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="zassy">
                            <div class="card-body">
                                <h5 class="card-title">Zassy Website & System</h5>
                                <p class="card-text">A website and a system(POS) for a saloon</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/diageo.jpeg" class="card-img-top" alt="diageo">
                            <div class="card-body">
                                <h5 class="card-title">Diageo</h5>
                                <p class="card-text">Is an e-Commerce selling beverage alcohol with an outstanding collection of brands across spirits and beer. Annual Report. Friends together with Don Julio.</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/sb.webp" class="card-img-top" alt="starbucks">
                            <div class="card-body">
                                <h5 class="card-title">Starbucks</h5>
                                <p class="card-text">Is an e-Commerce website selling the highest quality arabica coffee in the world.</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/tuborg.jpg" class="card-img-top" alt="tuborg">
                            <div class="card-body">
                                <h5 class="card-title">Tuborg Cold Shot</h5>
                                <p class="card-text">Is a website of a company use to create a party with your selected location</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="coldshot">
                            <div class="card-body">
                                <h5 class="card-title">Cold Shot ios app</h5>
                                <p class="card-text">Is an ios application that is also can create a party and select location</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="FlashqApps">
                            <div class="card-body">
                                <h5 class="card-title">FlashqApps ios app</h5>
                                <p class="card-text">This app is created to test my ability if i can create ios application. Capability of this app is, morse code, blink screen and flash light</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/noimg.jpg" class="card-img-top" alt="mccoy">
                            <div class="card-body">
                                <h5 class="card-title">MccoyIncorporated</h5>
                                <p class="card-text">Is a website of company using wordpress</p>

                            </div>

                        </div>
                        </div>
        </div>
      </div>


    </div>
  </div>
</div>

