
<div class="container-fluid header-img">

</div>

<div class="container-fluid text-center prof-main-content">
  <div class="row">
    <div class="col-4 prof-main-col">
        <div class="shadow card prof-card" style="width: 28rem;margin-left:auto;">
  <div class="card-body prof-details">
      <div class="row">
          <div class="col-4">
              <img class="prof-img-cir" src="images/comp-logo.png" />
          </div>
          <div class="col-8">
              <div class="details">
                  <p class="name">NEOTROJANPH</p>
                  <p class="work">Software Engineer</p>
                  <p class="location"><img src="images/loc.png" \>Manila, Philippines</p>
                  <p class="status"><img src="images/os.png" \>Open for work</p>
              </div>
          </div>
      </div>
  </div>

  <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, 0.12);text-align:left;">
      <div class="row">
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">4.9</p>
                  <p class="tile">Rating</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25k</p>
                  <p class="tile">Followers</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">25</p>
                  <p class="tile">Projects</p>
              </div>
          </div>
          <div class="col">
              <div class="rate-cont">
                  <p class="numb">$2.5k</p>
                  <p class="tile">Starting</p>
              </div>
          </div>
      </div>

      <div class="row prof-btn-cont">
          <div class="col">
            <a href="mailto:neotrojanph@gmail.com" class="btn btn-dark">Hire Now</a>
          </div>
          <div class="col">
              <a href="#" class="btn btn-outline-dark">Recent Work</a>
          </div>
          <div class="col">

          </div>
      </div>
  </div>

  <div class="card-body about">
      <div class="row">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">Software Engineer with 8+ years of experience in designing and developing user interfaces, testing debugging and training staff. Proven ability in optimizing Php functionalities that improve data retrieval and workflow efficiences.
          </p>
      </div>
  </div>

  <div class="card-body about" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
      <div class="row">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text"><img src="images/tel-min.png" /> +639222557348</p>
          <p class="card-text"><img src="images/em.png" /> neotrojanph@gmail.com</p>
          <p class="card-text"><img src="images/fb.png" width="15" height="15"/></p>
      </div>
  </div>
  <p>&nbsp;</p>

</div>
    </div>

    <div class="col-8 prof-main-col">
      <div class="nav-link-right-side border-bottom">
        <span>Our Technologies</span>
      </div>

      <div style="padding:20px;">
        <div class="row row-cols-1 row-cols-md-3 g-4 myowngrid">

            <div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/wpl.png" class="card-img-top" alt="wordpress">
                            <div class="card-body">
                                <h5 class="card-title">Wordpress</h5>
                                <p class="card-text">Version 6</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/php.png" class="card-img-top" alt="php">
                            <div class="card-body">
                                <h5 class="card-title">PHP</h5>
                                <p class="card-text">Min version 5, max latest version 7.4</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/mysql.png" class="card-img-top" alt="MySql">
                            <div class="card-body">
                                <h5 class="card-title">MySql</h5>
                                <p class="card-text">Version compatible to Php5 - Php7</p>

                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/js.jpg" class="card-img-top" alt="Javascript">
                            <div class="card-body">
                                <h5 class="card-title">Javascript</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/html.png" class="card-img-top" alt="HTML5">
                            <div class="card-body">
                                <h5 class="card-title">HTML5</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/css.png" class="card-img-top" alt="CSS3">
                            <div class="card-body">
                                <h5 class="card-title">CSS3</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/bootstrap-icons-min.png" class="card-img-top" alt="Bootstrap5">
                            <div class="card-body">
                                <h5 class="card-title">Bootstrap5</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/codeig.png" class="card-img-top" alt="CodeIgniter">
                            <div class="card-body">
                                <h5 class="card-title">CodeIgniter</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/figma.jpg" class="card-img-top" alt="FIGMA">
                            <div class="card-body">
                                <h5 class="card-title">FIGMA</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/psd.png" class="card-img-top" alt="PSD">
                            <div class="card-body">
                                <h5 class="card-title">PSD</h5>


                            </div>

                        </div>
                        </div><div class="col">
                        <div class="card">
                            <img onmouseover="img_hover(this)" src="images/gimp.png" class="card-img-top" alt="GIMP">
                            <div class="card-body">
                                <h5 class="card-title">GIMP</h5>


                            </div>

                        </div>
                        </div>
        </div>
      </div>

    </div>
  </div>
</div>
